.chart-container {
  margin-top: 2rem;
  background-color: var(--sub-alt-color);
  padding: 1.5rem;
  border-radius: 12px;
  width: 100%;
}

.chart-labels {
  display: flex;
  justify-content: space-between;
  color: var(--sub-color);
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

svg polyline {
  transition: all 0.3s ease;
}
